@keyframes fadeInText {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

@keyframes fade {
  0% {
    fill: none;
    stroke: #222;
    stroke-width: 1.25;
    opacity: .95; }
  50% {
    stroke: #222;
    stroke-width: 1.25; }
  70% {
    stroke-width: 0; }
  93.93939393939394% {
    opacity: .95; }
  100% {
    stroke-opacity: 0;
    opacity: 1;
    fill: url(#img1); } }

@keyframes fadeImg {
  0% {
    fill-opacity: 0; }
  20% {
    fill-opacity: 0; }
  30% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 1; } }

.card {
  margin: 64px auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  height: auto;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
  background: white;
  border-radius: 4px;
  animation: fadeInText 1s ease-in-out;
  transition: box-shadow .4s; }
  .card:hover {
    box-shadow: 4px 6.9px 40px rgba(36, 37, 38, 0.2); }
  .card:first-of-type {
    margin-top: 80px; }
  .card .img {
    flex-basis: 60%;
    background-size: cover;
    background-position: center center;
    height: 580px;
    border-radius: 3px 0 0 3px; }
    .card .img.rein {
      background-image: url("../img/rein.png");
      background-position: top center;
      order: 1; }
      @media (max-width: 1300px) {
        .card .img.rein {
          border-radius: 0 3px 3px 0;
          order: 0; } }
    .card .img.blackford {
      background-image: url("../img/blackford.png"); }
    .card .img.bloomfield {
      background-image: url("../img/bloomfield.png");
      background-position: top center; }
    .card .img.css__grid {
      background-image: url("../img/cssgrid.png");
      background-position: center center; }
  .card__content {
    height: 100%;
    flex: 1;
    background: white;
    padding: 32px; }
    .card__content h1 {
      font-family: "Playfair Display", serif;
      max-width: 600px;
      margin: 32px auto;
      font-weight: 200;
      font-size: 3em;
      text-align: center;
      position: relative; }
    .card__content p {
      letter-spacing: 0.1em;
      line-height: 1.5em;
      font-size: 1em;
      font-family: "Lato", sans-serif;
      color: #333;
      font-weight: 400;
      max-width: 430px;
      margin: 16px auto;
      text-align: center;
      color: #838383; }
    .card__content p:nth-of-type(2) {
      margin: 15px auto; }
    .card__content-separator {
      width: 18px;
      height: 18px;
      border: 2px solid #c3c3c3;
      border-radius: 50%;
      margin-top: -24px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative; }
      .card__content-separator:after {
        content: '';
        position: absolute;
        top: 8px;
        right: 0;
        left: -8px;
        margin: auto;
        height: 2px;
        width: 36px;
        background: #c3c3c3; }
    .card__content-btn {
      border: 3px solid #222;
      width: 170px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      font-weight: bold;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.3em;
      text-align: center;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      margin: 50px auto 0; }
      .card__content-btn:hover {
        background: #222;
        color: #fff;
        cursor: pointer; }
    .card__content:nth-of-type(3) {
      padding-top: 90px; }

.portfolio__footer {
  width: 80vw;
  height: 320px;
  margin: 20px auto; }
  .portfolio__footer h1 {
    text-align: center;
    max-width: 480px;
    font-family: "Playfair Display", serif;
    margin: 0 auto;
    font-weight: 400;
    font-size: 2em; }
  .portfolio__footer-btn {
    border: 3px solid #222;
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.3em;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 40px auto; }
    .portfolio__footer-btn:hover {
      background: #222;
      color: #fff;
      cursor: pointer; }

@media (max-width: 1150px) {
  .card {
    margin: 64px 16px; }
  .card .img {
    flex-basis: 100%;
    height: 250px;
    border-radius: 3px 3px 0 0; }
  .img.blackford {
    background-position: top center; }
  .card__content {
    padding: 20px; }
    .card__content-btn {
      margin: 32px auto 22px; }
    .card__content h1 {
      font-size: 2em; }
    .card__content p {
      font-size: 0.9em; } }

a {
  text-decoration: none;
  color: inherit; }

.portfolio__logo {
  top: 0; }

@media (max-width: 400px) {
  .card {
    max-height: 470px;
    margin: 32px 16px; }
    .card:first-of-type {
      margin-top: 80px; }
    .card .img {
      max-height: 150px; }
    .card p:first-of-type {
      display: none; } }

.nav {
  background: white;
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px; }
  .nav__link {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1em;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    z-index: 2;
    animation: fadeInText 1.4s ease-in-out;
    width: 420px;
    height: 50px;
    margin: 0 auto;
    display: block;
    line-height: 20px; }
    @media (max-width: 768px) {
      .nav__link {
        display: none; } }
    .nav__link:hover {
      letter-spacing: 1.75em;
      cursor: pointer; }
  .nav__logo {
    width: auto;
    height: 60px;
    line-height: 60px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    position: absolute;
    top: 0;
    margin: 0 20px;
    -webkit-animation: fadeInText 200ms ease-in-out;
    animation: fadeInText 200ms ease-in-out; }

.nav__mobile {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 13px;
  right: 2px;
  animation: fadeInText 1.4s ease-in-out;
  -webkit-animation: fadeInText 1.4s ease-in-out;
  display: none;
  z-index: 3; }
  .nav__mobile .strokes {
    background: #222;
    width: 24px;
    height: 2px;
    display: block;
    margin-top: 7px;
    transition: transform 0.3s, opacity 0.1s; }
    .nav__mobile .strokes:nth-of-type(2) {
      width: 18px;
      margin-left: 5px; }
  .nav__mobile .hide {
    opacity: 0;
    transform: translateX(-42px); }
  .nav__mobile .animate0 {
    transform: rotate(45deg) translateY(3px);
    background: #fff !important; }
  .nav__mobile .animate2 {
    transform: rotate(-45deg) translateY(-13px) translateX(10px);
    background: #fff !important; }

.nav__mobile-fullscreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  animation: slideIn 0.2s ease-in-out;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .nav__mobile-fullscreen .nav__mobile-social {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 25px; }
    .nav__mobile-fullscreen .nav__mobile-social svg {
      height: 30px;
      width: 30px; }

.nav__mobile-fullscreen.show {
  display: block;
  background-color: #171616;
  z-index: 1;
  position: fixed;
  animation: slideIn 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

@keyframes slideIn {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.nav__mobile-fullscreen ul {
  list-style: none;
  width: 100%;
  margin-top: 100px;
  padding: 0; }
  .nav__mobile-fullscreen ul li {
    margin-top: 30px; }
    .nav__mobile-fullscreen ul li a {
      visibility: inherit;
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 1.5em;
      text-decoration: none;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 150%;
      letter-spacing: 0.05em; }

body {
  margin: 0;
  padding: 0; }

* {
  -webkit-font-smoothing: antialiased; }

.main__container {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .main__container-svg__container {
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    height: 100vh; }
    .main__container-svg__container .svg__container-svg {
      width: 100%;
      height: 60vh; }
      .main__container-svg__container .svg__container-svg svg {
        position: absolute;
        width: 100%;
        height: 60vh;
        -webkit-animation: fadeInText 200ms ease-in-out;
        animation: fadeInText 200ms ease-in-out; }
        @media (max-width: 1300px) {
          .main__container-svg__container .svg__container-svg svg {
            width: 120%; } }
        .main__container-svg__container .svg__container-svg svg .letter__path {
          stroke-dasharray: 6231 6233;
          stroke-dashoffset: 6232;
          fill: url(#img1);
          -webkit-animation: draw 1900ms ease-in-out 0ms forwards, fade 6.1s, fadeImg 6.1s;
          animation: draw 1900ms ease-in-out 0ms forwards, fade 6.1s, fadeImg 6.1s; }
  .main__container-copy {
    max-width: 300px;
    position: relative;
    height: 400px;
    left: 10%; }
    .main__container-copy h1 {
      max-width: 260px;
      font-size: 5em;
      letter-spacing: 0.05em;
      font-family: "Playfair Display", serif;
      font-weight: 600;
      margin: 0;
      position: absolute;
      top: 80px;
      animation: fadeInText 1.4s ease-in-out;
      -webkit-animation: fadeInText 1.4s ease-in-out; }
      .main__container-copy h1:after {
        content: 'FULL-STACK DEVELOPER';
        font-family: "Lato", sans-serif;
        font-size: 16px;
        width: 300px;
        color: #c3c3c3;
        position: absolute;
        left: -3px;
        bottom: -10px;
        padding-left: 5px;
        font-weight: 400;
        letter-spacing: 3px; }
    .main__container-copy p {
      letter-spacing: 0.1em;
      line-height: 1.5em;
      font-size: 1em;
      font-family: "Lato", sans-serif;
      color: #333;
      font-weight: 400;
      max-width: 400px;
      width: 350px;
      position: absolute;
      bottom: 10px;
      animation: fadeInText 1.4s ease-in-out;
      -webkit-animation: fadeInText 1.4s ease-in-out; }
    .main__container-copy a {
      text-decoration: none;
      color: inherit; }
    .main__container-copy .main__copy-btn {
      border: 3px solid #222;
      width: 170px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      font-weight: bold;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.3em;
      text-align: center;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      position: absolute;
      bottom: -50px;
      animation: fadeInText 1.4s ease-in-out;
      -webkit-animation: fadeInText 1.4s ease-in-out; }
      .main__container-copy .main__copy-btn:hover {
        background: #222;
        color: #fff;
        cursor: pointer; }
  .main__container-social__links {
    display: none;
    position: absolute;
    right: 20px;
    text-align: center;
    bottom: 20px;
    width: 200px;
    padding: 0;
    animation: fadeInText 1.4s ease-in-out;
    -webkit-animation: fadeInText 1.4s ease-in-out; }
    .main__container-social__links li {
      display: inline-block;
      margin-right: 20px; }
      .main__container-social__links li:last-of-type {
        margin-right: 0; }
      .main__container-social__links li a {
        width: 36px;
        z-index: 1;
        position: relative;
        height: 36px;
        display: block; }
        .main__container-social__links li a svg {
          width: 18px;
          height: 18px; }
  .main__container-email {
    width: 100%;
    height: 50px;
    align-self: flex-end;
    position: fixed;
    bottom: 15px; }
    .main__container-email__link {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      letter-spacing: 1em;
      text-decoration: none;
      text-align: center;
      color: #222;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 20px;
      z-index: 2;
      animation: fadeInText 1.4s ease-in-out;
      letter-spacing: 0.5em;
      width: 700px;
      height: 25px;
      line-height: 50px;
      display: block;
      margin: 0 auto; }
      @media (max-width: 768px) {
        .main__container-email__link {
          display: none; } }
      .main__container-email__link:hover {
        letter-spacing: 1.75em;
        cursor: pointer; }
      .main__container-email__link:hover {
        letter-spacing: 0.70em; }

.contact__container {
  width: 150px;
  height: 620px;
  right: 0;
  position: absolute;
  margin: 75px auto;
  z-index: 2;
  opacity: 0;
  animation: fadeInText 800ms ease-in-out;
  -webkit-animation: fadeInText 800ms ease-in-out;
  animation-delay: 1.7s;
  animation-fill-mode: forwards; }
  .contact__container p {
    transform: rotate(90deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1em;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    z-index: 2;
    animation: fadeInText 1.4s ease-in-out;
    position: relative;
    right: 0; }
    @media (max-width: 768px) {
      .contact__container p {
        display: none; } }
    .contact__container p:hover {
      letter-spacing: 1.75em;
      cursor: pointer; }
    .contact__container p:hover {
      letter-spacing: 1em; }
  .contact__container span {
    background: #222;
    width: 1px;
    height: 225px;
    display: block;
    margin: 150px auto;
    animation: grow 2s cubic-bezier(0.2, 0.9, 0, 1);
    animation-delay: 1.7s;
    animation-fill-mode: forwards; }

@keyframes grow {
  0% {
    height: 0;
    display: none; }
  100% {
    height: 225px; } }
  .contact__container ul {
    display: block;
    width: 100px;
    height: auto;
    margin: -120px auto;
    list-style: none;
    padding: 0; }
    .contact__container ul li {
      width: 18px;
      height: 18px;
      margin: 0 auto;
      background: #222;
      padding: 9px;
      border-radius: 50%;
      margin-top: 30px; }
      .contact__container ul li:hover {
        cursor: pointer; }
      .contact__container ul li a {
        z-index: 1;
        position: relative; }

@media (max-width: 768px) {
  .main__container-svg__container,
  .contact__container,
  .main__container-email {
    display: none; }
  .main__container-social__links {
    display: block;
    left: 0;
    height: 0;
    bottom: 50px; }
  .main__container-copy p {
    width: 290px;
    bottom: 100px; }
  .main__container-copy h1 {
    top: 0; }
  .main__container-copy .main__copy-btn {
    bottom: 40px; }
  .nav .nav__mobile {
    display: block; } }
