@keyframes fadeInText {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

@keyframes fade {
  0% {
    fill: none;
    stroke: #222;
    stroke-width: 1.25;
    opacity: .95; }
  50% {
    stroke: #222;
    stroke-width: 1.25; }
  70% {
    stroke-width: 0; }
  93.93939393939394% {
    opacity: .95; }
  100% {
    stroke-opacity: 0;
    opacity: 1;
    fill: url(#img1); } }

@keyframes fadeImg {
  0% {
    fill-opacity: 0; }
  20% {
    fill-opacity: 0; }
  30% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 1; } }

.card {
  margin: 80px auto;
  width: 90vw;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.12), 0 3px 7px 0 rgba(0, 0, 0, 0.24);
  background: white;
  animation: fadeInText 1s ease-in-out; }
  .card .img {
    flex-basis: 60%;
    background-size: cover;
    background-position: center center;
    height: 580px; }
    @media (max-width: 1150px) {
      .card .img {
        flex-basis: 100%;
        height: 250px; } }
    .card .img.gradientTool {
      background-image: url("../img/gradient.png"); }
    .card .img.moviesApp {
      background-image: url("../img/movies.png");
      order: 1; }
      @media (max-width: 1300px) {
        .card .img.moviesApp {
          order: 0; } }
    .card .img.alexPortfolio {
      background-image: url("../img/alex.png");
      background-position: top center; }
  .card__content {
    height: 100%;
    flex: 1;
    background: white;
    padding: 20px 40px; }
    @media (max-width: 1150px) {
      .card__content {
        padding: 20px; } }
    .card__content h1 {
      font-family: "Playfair Display", serif;
      max-width: 600px;
      margin: 50px auto;
      font-weight: 200;
      font-size: 3em;
      text-align: center;
      position: relative; }
      .card__content h1:before {
        content: 'DEVELOPMENT';
        position: absolute;
        color: #cecece;
        font-weight: 300;
        width: 150px;
        height: 25px;
        font-family: "Lato", sans-serif;
        letter-spacing: 0.3em;
        font-size: 14px;
        margin: auto;
        left: 0;
        right: 0;
        top: -25px; }
    .card__content p {
      letter-spacing: 0.1em;
      line-height: 1.5em;
      font-size: 1em;
      font-family: "Lato", sans-serif;
      color: #333;
      font-weight: normal;
      max-width: 430px;
      margin: 70px auto;
      text-align: center;
      margin-bottom: 30px;
      color: #838383;
      font-weight: 300; }
    .card__content p:nth-of-type(2) {
      margin: 15px auto; }
    .card__content-separator {
      width: 18px;
      height: 18px;
      border: 2px solid #c3c3c3;
      border-radius: 50%;
      margin: -35px auto;
      display: block;
      position: relative; }
      .card__content-separator:after {
        content: '';
        position: absolute;
        top: 8px;
        right: 0;
        left: -8px;
        margin: auto;
        height: 2px;
        width: 36px;
        background: #c3c3c3; }
    .card__content a {
      text-decoration: none;
      color: inherit; }
    .card__content-btn {
      border: 3px solid #222;
      width: 170px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.2em;
      text-align: center;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      margin: 50px auto 0; }
      .card__content-btn:hover {
        background: #222;
        color: #fff;
        cursor: pointer; }
    .card__content:nth-of-type(3) {
      padding-top: 90px; }

body {
  margin: 0;
  padding: 0; }

.main__container {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .main__container-logo {
    line-height: 50px;
    height: 50px;
    width: 150px;
    position: absolute;
    margin: 20px 30px;
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
    animation: fadeInText 1.4s ease-in-out;
    -webkit-animation: fadeInText 1.4s ease-in-out; }
  .main__container-svg__container {
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    height: 100vh; }
    .main__container-svg__container .svg__container-svg {
      width: 100%;
      height: 60vh; }
      .main__container-svg__container .svg__container-svg svg {
        position: absolute;
        width: 100%;
        height: 60vh;
        -webkit-animation: fadeInText 200ms ease-in-out;
        animation: fadeInText 200ms ease-in-out; }
        @media (max-width: 1300px) {
          .main__container-svg__container .svg__container-svg svg {
            width: 120%; } }
        .main__container-svg__container .svg__container-svg svg .letter__path {
          stroke-dasharray: 6231 6233;
          stroke-dashoffset: 6232;
          fill: url(#img1);
          -webkit-animation: draw 1900ms ease-in-out 0ms forwards, fade 6.1s, fadeImg 6.1s;
          animation: draw 1900ms ease-in-out 0ms forwards, fade 6.1s, fadeImg 6.1s; }
  .main__container-copy {
    max-width: 300px;
    position: relative;
    height: 400px;
    left: 10%; }
    .main__container-copy h1 {
      max-width: 260px;
      font-size: 5em;
      letter-spacing: 0.05em;
      font-family: "Playfair Display", serif;
      font-weight: 600;
      margin: 0;
      position: absolute;
      top: 80px;
      animation: fadeInText 1.4s ease-in-out;
      -webkit-animation: fadeInText 1.4s ease-in-out; }
      .main__container-copy h1:after {
        content: 'FRONT-END DEVELOPER';
        font-family: "Lato", sans-serif;
        font-size: 16px;
        width: 230px;
        color: #c3c3c3;
        position: absolute;
        left: -3px;
        bottom: -10px;
        padding-left: 5px;
        font-weight: 300;
        letter-spacing: 0.1em; }
    .main__container-copy p {
      letter-spacing: 0.1em;
      line-height: 1.5em;
      font-size: 1em;
      font-family: "Lato", sans-serif;
      color: #333;
      font-weight: normal;
      max-width: 400px;
      width: 350px;
      position: absolute;
      bottom: 30px;
      animation: fadeInText 1.4s ease-in-out;
      -webkit-animation: fadeInText 1.4s ease-in-out; }
    .main__container-copy a {
      text-decoration: none;
      color: inherit; }
    .main__container-copy .main__copy-btn {
      border: 3px solid #222;
      width: 170px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.2em;
      text-align: center;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      position: absolute;
      bottom: -30px;
      animation: fadeInText 1.4s ease-in-out;
      -webkit-animation: fadeInText 1.4s ease-in-out; }
      .main__container-copy .main__copy-btn:hover {
        background: #222;
        color: #fff;
        cursor: pointer; }
  .main__container-social__links {
    display: none;
    position: absolute;
    right: 20px;
    text-align: center;
    bottom: 20px;
    width: 200px;
    padding: 0;
    animation: fadeInText 1.4s ease-in-out;
    -webkit-animation: fadeInText 1.4s ease-in-out; }
    .main__container-social__links li {
      display: inline-block;
      margin-right: 20px; }
      .main__container-social__links li:last-of-type {
        margin-right: 0; }
      .main__container-social__links li a {
        width: 36px;
        z-index: 1;
        position: relative;
        height: 36px;
        display: block; }
        .main__container-social__links li a svg {
          width: 18px;
          height: 18px; }
  .main__container-contact {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1em;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    z-index: 2;
    animation: fadeInText 1.4s ease-in-out;
    margin: auto;
    width: 450px;
    height: 40px;
    background: white;
    line-height: 40px; }
    @media (max-width: 768px) {
      .main__container-contact {
        display: none; } }
    .main__container-contact:hover {
      letter-spacing: 1.75em; }
    @media (max-width: 1150px) {
      .main__container-contact {
        left: auto;
        right: 90px;
        width: 250px; } }
  .main__container-portfolio {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1em;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    z-index: 2;
    animation: fadeInText 1.4s ease-in-out;
    position: absolute;
    right: -130px;
    transform: rotate(90deg);
    width: 360px;
    height: 30px; }
    @media (max-width: 768px) {
      .main__container-portfolio {
        display: none; } }
    .main__container-portfolio:hover {
      letter-spacing: 1.75em; }
  .main__container-portfolio__contact {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1em;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    z-index: 2;
    animation: fadeInText 1.4s ease-in-out;
    position: fixed;
    top: 50%;
    right: -145px;
    transform: rotate(90deg);
    width: 360px;
    height: 30px; }
    @media (max-width: 768px) {
      .main__container-portfolio__contact {
        display: none; } }
    .main__container-portfolio__contact:hover {
      letter-spacing: 1.75em; }
  .main__container-mobile__nav {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    right: 15px;
    animation: fadeInText 1.4s ease-in-out;
    -webkit-animation: fadeInText 1.4s ease-in-out;
    display: none; }
    .main__container-mobile__nav span {
      background: #222;
      width: 24px;
      height: 2px;
      display: block;
      margin-top: 7px; }
      .main__container-mobile__nav span:nth-of-type(2) {
        width: 18px;
        margin-left: 5px; }

.contact__container {
  width: 150px;
  height: 620px;
  right: 0;
  position: absolute;
  margin: 75px auto;
  animation: fadeInText 1.4s ease-in-out;
  -webkit-animation: fadeInText 1.4s ease-in-out; }
  .contact__container p {
    transform: rotate(90deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1em;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    z-index: 2;
    animation: fadeInText 1.4s ease-in-out;
    position: relative;
    right: 0; }
    @media (max-width: 768px) {
      .contact__container p {
        display: none; } }
    .contact__container p:hover {
      letter-spacing: 1.75em; }
    .contact__container p:hover {
      letter-spacing: 1em; }
  .contact__container span {
    background: #222;
    width: 1px;
    height: 225px;
    display: block;
    margin: 150px auto;
    animation: grow 1.4s ease-in-out; }

@keyframes grow {
  0% {
    height: 0; }
  100% {
    height: 225px; } }
  .contact__container ul {
    display: block;
    width: 100px;
    height: auto;
    margin: -120px auto;
    list-style: none;
    padding: 0; }
    .contact__container ul li {
      width: 18px;
      height: 18px;
      margin: 0 auto;
      background: #222;
      padding: 9px;
      border-radius: 50%;
      margin-top: 30px; }

@media (max-width: 768px) {
  .main__container-svg__container, .contact__container {
    display: none; }
  .main__container-social__links {
    display: block;
    left: 0;
    height: 0;
    bottom: 50px; }
  .main__container-copy p {
    width: 290px;
    bottom: 100px; }
  .main__container-copy h1 {
    top: 0; }
  .main__container-copy .main__copy-btn {
    bottom: 40px; }
  .main__container-mobile__nav {
    display: block; } }
