@import './libraries/bourbon/_bourbon.scss';
@import '1-base/_breakpoints';
@import '1-base/_variables';
@import '1-base/_mixins';
@import '1-base/_animations';
@import '2-includes/_portfolio.scss';
body {
    margin: 0;
    padding: 0;
}

.main__container {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    @include display(flex);
    @include align-items(center);
    &-logo {
        line-height: 50px;
        height: 50px;
        width: 150px;
        position: absolute;
        margin: 20px 30px;
        @include align-self(flex-start);
        animation: fadeInText 1.4s ease-in-out;
        -webkit-animation: fadeInText 1.4s ease-in-out;
    }
    &-svg__container {
        width: 100%;
        position: absolute;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        height: 100vh;
        //background: rgba(255, 0, 0, 0.25);
        .svg__container-svg {
            width: 100%;
            height: 60vh;
            svg {
                position: absolute;
                width: 100%;
                height: 60vh;
                -webkit-animation: fadeInText 200ms ease-in-out;
                animation: fadeInText 200ms ease-in-out;
                //background: rgba(0, 0, 255, 0.35);
                @include breakpoint(xs) {
                    width: 120%;
                }
                .letter__path {
                    stroke-dasharray: 6231 6233;
                    stroke-dashoffset: 6232;
                    fill: url(#img1);                                        
                    -webkit-animation: draw 1900ms ease-in-out 0ms forwards, fade 6.1s, fadeImg 6.1s;
                    animation: draw 1900ms ease-in-out 0ms forwards, fade 6.1s, fadeImg 6.1s;                    
                }
            }
        }
    }
    &-copy {
        max-width: 300px;
        position: relative;
        height: 400px;
        left: 10%;
        h1 {
            max-width: 260px;
            font-size: 5em;
            letter-spacing: 0.05em;
            font-family: $headlineFont;
            font-weight: 600;
            margin: 0;
            @include position(absolute, 80px null null null);
            animation: fadeInText 1.4s ease-in-out;
            -webkit-animation: fadeInText 1.4s ease-in-out;
            &:after {
                content: 'Front-end developer';
                font-family: $paragraphFont;
                font-size: 16px;
                width: 230px;
                color: $grey;
                text-transform: uppercase;
                position: absolute;
                left: -3px;
                bottom: -10px;
                padding-left: 5px;
                font-weight: 300;
                letter-spacing: 0.1em;
            }
        }
        p {
            @include paragraphStyles();
            max-width: 400px;
            width: 350px;
            @include position(absolute, null null 30px null);
            animation: fadeInText 1.4s ease-in-out;
            -webkit-animation: fadeInText 1.4s ease-in-out;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .main__copy-btn {
            @include Button();
            @include position(absolute, null null -30px null);
            animation: fadeInText 1.4s ease-in-out;
            -webkit-animation: fadeInText 1.4s ease-in-out;
        }
    }
    &-social__links {
        display: block;
        position: absolute;
        right: 20px;
        text-align: center;
        bottom: 20px;
        width: 200px;
        padding: 0;
        animation: fadeInText 1.4s ease-in-out;
        -webkit-animation: fadeInText 1.4s ease-in-out;
        li {
            display: inline-block;
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                width: 36px;
                z-index: 1;
                position: relative;
                height: 36px;
                display: block;
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    &-contact {
        @include position(absolute, 20px 0 null 0);
        @include linkStyles();
        margin: auto;
        width: 450px;
        height: 40px;
        background: white;
        line-height: 40px;
        @include breakpoint(1250) {
            left: auto;
            right: 90px;
            width: 250px;
        }
    }
    &-portfolio {
        @include linkStyles();
        @include position(absolute, null -130px null null);
        transform: rotate(90deg);
        width: 360px;
        height: 30px;
    }
    &-portfolio__contact {
        @include linkStyles();
        @include position(fixed, 50% -145px null null);
        transform: rotate(90deg);
        width: 360px;
        height: 30px;
    }
    &-mobile__nav {
        @include size(50px);
        @include position(absolute, 30px 15px null null);
        animation: fadeInText 1.4s ease-in-out;
        -webkit-animation: fadeInText 1.4s ease-in-out;
        display: none;
        span {
            background: #222;
            width: 24px;
            height: 2px;
            display: block;
            margin-top: 7px;
            &:nth-of-type(2) {
                width: 18px;
                margin-left: 5px;
            }
        }
    }
}

@include breakpoint(xxs) {
    .main__container-svg__container {
        display: none;
    }
    .main__container-social__links {
        left: 0;
        height: 0;
        bottom: 50px;
    }
    .main__container-copy {
        p {
            width: 300px;
            bottom: 130px;
        }
        h1 {
            top: 0;
        }
        .main__copy-btn {
            bottom: 50px;
        }
    }
    .main__container-mobile__nav {
        display: block;
    }
}