.nav {
    background: white;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 20px;
    &__link {
        @include linkStyles();
        width: 420px;
        height: 50px;
        margin: 0 auto;
        display: block;
        line-height: 20px;
    }
    &__logo {
        width: auto;
        height: 60px;       
        line-height: 60px;        
        font-family: $paragraphFont;   
        font-weight: 300;             
        letter-spacing: 0.1em;            
        position: absolute;
        top: 0;
        margin: 0 20px;
        -webkit-animation: fadeInText 200ms ease-in-out;
        animation: fadeInText 200ms ease-in-out;
    }
}

.nav__mobile {
    @include size(50px);
    @include position(absolute,
    13px 2px null null);
    animation: fadeInText 1.4s ease-in-out;
    -webkit-animation: fadeInText 1.4s ease-in-out;
    display: none;
    z-index: 3;
    .strokes {
        background: #222;
        width: 24px;
        height: 2px;
        display: block;
        margin-top: 7px;
        transition: transform 0.3s, opacity 0.1s;
        &:nth-of-type(2) {
            width: 18px;
            margin-left: 5px;
        }
    }
    .hide {
        opacity: 0;
        transform: translateX(-42px);
    }
    .animate0 {
        transform: rotate(45deg) translateY(3px);
        background: #fff !important;
    }
    .animate2 {
        transform: rotate(-45deg) translateY(-13px) translateX(10px);
        background: #fff !important;
    }
}

.nav__mobile-fullscreen {
    background-color: rgba(52, 152, 219, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    animation: slideIn 0.2s ease-in-out;
    text-align: center;
    @include transition(all 0.2s ease-in-out);
    .nav__mobile-social {
        @include size(30px);
        display: inline-block;
        margin: 25px;
        svg {
            @include size(30px);
        }
    }
}

.nav__mobile-fullscreen.show {
    display: block;
    background-color: #222;
    z-index: 1;
    position: fixed;
    animation: slideIn 0.2s ease-in-out;
    @include transition(all 0.2s ease-in-out);
}

@keyframes slideIn {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.nav__mobile-fullscreen ul {
    list-style: none;
    width: 100%;
    margin-top: 100px;
    padding: 0;
    li {
        margin-top: 30px;
        a {
            visibility: inherit;
            color: white;
            font-family: $paragraphFont;
            font-size: 1.5em;
            text-decoration: none;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 150%;
            letter-spacing: 0.05em;
        }
    }
}