.nav {
    background: white;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0px;
    &__link {
        @include linkStyles();
        width: 420px;
        height: 50px;
        margin: 0 auto;
        display: block;
        line-height: 50px;
    }
    &__logo {
        background: url('../img/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 150px;
        height: 50px;
        position: absolute;
        top: 0;
        margin: 0 20px;
        -webkit-animation: fadeInText 200ms ease-in-out;
        animation: fadeInText 200ms ease-in-out;
    }
}