.card {
    margin: 80px auto;
    width: 90vw;
    @include display(flex);
    @include flex-wrap(wrap);
    height: auto;
    box-shadow: 0 4px 31px 0 rgba(0,0,0,.08);
    background: white;
    animation: fadeInText 1s ease-in-out;
    .img {
        flex-basis: 60%;
        background-size: cover;
        background-position: center center;
        height: 580px;
        &.gradientTool {
            background-image: url('../img/gradient.jpg');
            order: 1;
            @include breakpoint(xs) {
                order: 0;
            }
        }
        &.moviesApp {
            background-image: url('../img/movies.jpg');
        }
        &.alexPortfolio {
            background-image: url('../img/alex.jpg');
            background-position: top center;
        }
    }
    &__content {
        height: 100%;
        flex: 1;
        background: white;
        padding: 20px 40px;
        h1 {
            font-family: $headlineFont;
            max-width: 600px;
            margin: 50px auto;
            font-weight: 200;
            font-size: 3em;
            text-align: center;
            position: relative;
            &:before {
                content: 'DEVELOPMENT';
                position: absolute;
                color: #cecece;
                font-weight: 400;
                width: 150px;
                height: 25px;
                font-family: $paragraphFont;
                letter-spacing: 0.3em;
                font-size: 14px;
                margin: auto;
                left: 0;
                right: 0;
                top: -25px;
            }
        }
        p {
            @include paragraphStyles();
            max-width: 430px;
            margin: 70px auto;
            text-align: center;
            margin-bottom: 30px;
            color: $cardGrey;
        }
        p:nth-of-type(2) {
            margin: 15px auto;
        }
        &-separator {
            width: 18px;
            height: 18px;
            border: 2px solid $grey;
            border-radius: 50%;
            margin: -35px auto;
            display: block;
            position: relative;
            &:after {
                content: '';
                @include position(absolute,
                8px 0 null -8px);
                margin: auto;
                height: 2px;
                width: 36px;
                background: $grey;
            }
        }
        &-btn {
            @include Button;
            margin: 50px auto 0;
        }
        &:nth-of-type(3) {
            padding-top: 90px;
        }
    }
}

.portfolio__footer {
    width: 80vw;
    height: 320px;
    margin: 20px auto;
    h1 {
        text-align: center;
        max-width: 480px;
        font-family: $headlineFont;
        margin: 0 auto;
        font-weight: 400;
        font-size: 2em;
    }
    &-btn {
        @include Button();
        margin: 40px auto;
    }
}

@include breakpoint(1150) {
    .card .img {
        flex-basis: 100%;
        height: 250px;
    }
    .card__content {
        padding: 20px;
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 0.9em;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.portfolio__logo {
    top: 0;
}