.card {
    margin: 64px auto;
    max-width: 1200px;
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(center);
    height: auto;
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    animation: fadeInText 1s ease-in-out;
    transition: box-shadow .4s;

    &.ribbon {
        position: relative;
        &:after {
            width: 214px;
            height: 0;
            text-transform: uppercase;
            text-align: center;
            line-height: 34px;
            font-size: 12px;
            letter-spacing: 1px;
            color: #fff;
            -webkit-transform: rotate(-45deg) translate(-64.5px,-4.5px);
            transform: rotate(45deg) translate(-64.5px,-4.5px);
            border-bottom: 32px solid #040404;
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            position: absolute;
            right: -100px;
            top: 115px;
            content: 'Work in progress';
            font-size: 14px;
            font-family: "Lato";
        }
    }

    &:hover {
        box-shadow: 4px 6.9px 40px rgba(36, 37, 38, .2);
    }

    &:first-of-type {
        margin-top: 80px;
    }

    .img {
        flex-basis: 60%;
        background-size: cover;
        background-position: center center;
        height: 580px;
        border-radius: 3px 0 0 3px;
        &.rein {
            background-image: url('../img/rein.png');
            background-position: top center;
            order: 1;
            @include breakpoint(xs) {
                border-radius: 0 3px 3px 0;
                order: 0;
            }
        }
        &.kyrene {
            background-image: url('../img/kyrene.png');
        }
        &.blackford {
            background-image: url('../img/blackford.png');
        }
        &.bloomfield {
            background-image: url('../img/bloomfield.png');
            background-position: top center;
        }
        &.css__grid {
            background-image: url('../img/cssgrid.png');
            background-position: top center;
        }
    }
    &__content {
        height: 100%;
        flex: 1;
        background: white;
        padding: 32px;
        h1 {
            font-family: $headlineFont;
            max-width: 600px;
            margin: 32px auto;
            font-weight: 200;
            font-size: 3em;
            text-align: center;
            position: relative;
        }
        p {
            @include paragraphStyles();
            max-width: 430px;
            margin: 16px auto;
            text-align: center;
            color: $cardGrey;
        }
        p:nth-of-type(2) {
            margin: 15px auto;
        }
        &-separator {
            width: 18px;
            height: 18px;
            border: 2px solid $grey;
            border-radius: 50%;
            margin-top: -24px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            position: relative;
            &:after {
                content: '';
                @include position(absolute,
                        8px 0 null -8px);
                margin: auto;
                height: 2px;
                width: 36px;
                background: $grey;
            }
        }
        &-btn {
            @include Button;
            margin: 50px auto 0;
        }
        &:nth-of-type(3) {
            padding-top: 90px;
        }
    }
}

.portfolio__footer {
    width: 80vw;
    height: 320px;
    margin: 20px auto;
    h1 {
        text-align: center;
        max-width: 480px;
        font-family: $headlineFont;
        margin: 0 auto;
        font-weight: 400;
        font-size: 2em;
    }
    &-btn {
        @include Button();
        margin: 40px auto;
    }
    .main__container-email__link {
        text-transform: uppercase;
    }
}

@include breakpoint(1150) {
    .card {
        margin: 64px 16px;

    }

    .card .img {
        flex-basis: 100%;
        height: 250px;
        border-radius: 3px 3px 0 0;
    }

    .img.blackford {
        background-position: top center;
    }

    .card__content {
        padding: 20px;

        &-btn {
            margin: 32px auto 22px
        }

        h1 {
            font-size: 2em;
        }
        p {
            font-size: 0.9em;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.portfolio__logo {
    top: 0;
}

@include breakpoint(mobile) {
    .card {
        max-height: 470px;
        margin: 32px 16px;

        &:first-of-type {
            margin-top: 80px;
        }

        .img {
            max-height: 150px;
        }

        p:first-of-type {
            display: none;
        }
    }
}
