@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fade {
    0% {
        stroke-opacity: 0.80;
        fill: none;        
        stroke: #222;
    }
    30% {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
    }
    50% {
        fill-opacity: 1;
        stroke-opacity: 0.3;
    }
    93.93939393939394% {
        stroke-opacity: 0.15;
    }
    100% {
        stroke-opacity: 0;
        fill: url(#img1);
        fill-opacity: 1;
    }
}