@mixin Button() {
    border: 3px solid #222;
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    font-family: $paragraphFont;
    letter-spacing: 0.2em;
    text-align: center;
    @include transition(all 0.2s ease-in-out);
    &:hover {
        background: #222;
        color: #fff;
        cursor: pointer;
    }
}

@mixin headlineStyles() {
    max-width: 260px;
    font-size: 5em;
    letter-spacing: 0.05em;
    font-family: $headlineFont;
    font-weight: 600;
}

@mixin paragraphStyles() {
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-size: 1em;
    font-family: $paragraphFont;
    color: $paragraphBlack;
    font-weight: normal;
}

@mixin linkStyles() {
    @include transition(all 0.2s ease-in-out);
    letter-spacing: 1em;
    text-decoration: none;
    text-align: center;
    color: #222;
    font-family: $paragraphFont;
    font-weight: 600;
    font-size: 20px;
    z-index: 2;
    animation: fadeInText 1.4s ease-in-out;
    @include breakpoint(xxs) {
        display: none;
    }
    &:hover {
        letter-spacing: 1.75em;
        cursor: pointer;
    }
}